body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #f7f8fa;
}
.topheader{
	background: #316DC3 ;
	width: 100%;
	height: 50px;
}


i{
	color: white;
}

.green{
	color: green;
}

.flaot-left{
	float: left;
}

.flaot-right{
	float: right;
}

.icon{
	float: left;
	text-align: left;
	padding: 10px;
}
.toptext{
	float: left;
	padding-top: 10px;
	color: white;
	text-align: center;
}
.icon:hover{
background: darkblue;
}

.topbutton{
	color: #427900;
	border: 1px solid #427900;
	background: #f5f5f5;
	padding: 5px;
	margin:10px 5px;
	float:left;
	font-size: 11px;

}

.bgwhite{
	background: white;
	padding: 10px;
}

.marque{
	background: blue;
	height: 30px;
	color: white;
}

.intro-p{
	color: #666;
	text-align: justify;
}
.menu-area{font-size: 13px; font-weight: 600; }
.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{text-decoration: none;padding: 8px 16px;    border-radius: 30px;color:#333;text-transform:capitalize;font-family:'Roboto',sans-serif;display: block !important;}
.mainmenu .active a,.mainmenu .active a:focus,.mainmenu .active a:hover,.mainmenu li a:hover,.mainmenu li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{text-decoration: none;color: #fff;background: #316DC3;outline: 0;}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a{background: #316DC3; color: white;}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{color: #fff;}
.mainmenu .collapse ul ul ul > li:hover > a{background:#316DC3;color: white;}

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{	background: #ffff;font-size: 13px; font-weight: 600; }
.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{	background: #fff;font-size: 13px; font-weight: 600; }
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{	background: #fff;font-size: 13px; font-weight: 600;}
.dropdown-menu li a{border-radius: 0px !important;}
.dropdown-menu li a:hover{color:#fff !important;}

/******************************Drop-down menu work on hover**********************************/
.mainmenu{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;width: 100%;}
@media only screen and (min-width: 767px) {
.mainmenu .collapse ul li:hover> ul{display:block}
.mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover> ul{display:block}
.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none;z-index:1}

}
@media only screen and (max-width: 767px) {
.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}

a.img{
	padding: 0px !important;
}